#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^Koordynator/?$ index.php?Controller=Koordynator [L]
RewriteRule ^Koordynator/dodajKS/?$ index.php?Controller=Koordynator&action=add [L]
RewriteRule ^Koordynator/insert/?$ index.php?Controller=Koordynator&action=insert [L]
RewriteRule ^Koordynator/delete/(\d+)/?$ index.php?Controller=Koordynator&action=delete&id=$1 [L]

RewriteRule ^Doradca/?$ index.php?Controller=Doradca [L]
RewriteRule ^Doradca/dodajDB/?$ index.php?Controller=Doradca&action=add [L]
RewriteRule ^Doradca/insert/?$ index.php?Controller=Doradca&action=insert [L]

RewriteRule ^Kategoria/showone/(\d+)/?$ index.php?Controller=Kategoria&action=showone&id=$1 [L]
RewriteRule ^Kategoria/delete/(\d+)/?$ index.php?Controller=Kategoria&action=delete&id=$1 [L]
RewriteRule ^Kategoria/showoneBooks/(\d+)/?$ index.php?Controller=Kategoria&action=showoneBooks&id=$1 [L]

RewriteRule ^Ksiazka/?$ index.php?Controller=Ksiazka [L]
RewriteRule ^Ksiazka/showone/(\d+)/?$ index.php?Controller=Ksiazka&action=showone&id=$1 [L]
RewriteRule ^Ksiazka/delete/(\d+)/?$ index.php?Controller=Ksiazka&action=delete&id=$1 [L]
RewriteRule ^Ksiazka/add/?$ index.php?Controller=Ksiazka&action=add [L]
RewriteRule ^Ksiazka/insert/?$ index.php?Controller=Ksiazka&action=insert [L]
RewriteRule ^Ksiazka/szukaj/?$ index.php?Controller=Ksiazka&action=szukaj [L]

RewriteRule ^Autor/?$ index.php?Controller=Autor [L]
RewriteRule ^Autor/insert/?$ index.php?Controller=Autor&action=insert [L]
RewriteRule ^Autor/showone/(\d+)/?$ index.php?Controller=Autor&action=showone&id=$1 [L]
RewriteRule ^Autor/delete/(\d+)/?$ index.php?Controller=Autor&action=delete&id=$1 [L]
RewriteRule ^Autor/add/?$ index.php?Controller=Autor&action=add [L]
RewriteRule ^Autor/showoneBooks/(\d+)/?$ index.php?Controller=Autor&action=showoneBooks&id=$1 [L]


RewriteRule ^Access/logform/?$ index.php?controller=Access&action=logform [L]
RewriteRule ^Access/login/?$ index.php?controller=Access&action=login [L]
RewriteRule ^Access/logout/?$ index.php?controller=Access&action=logout [L]
