#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^Koordynator/?$ index.php?Controller=Koordynator [L]
RewriteRule ^Koordynator/dodajKS/?$ index.php?Controller=Koordynator&action=add [L]
RewriteRule ^Koordynator/insert/?$ index.php?Controller=Koordynator&action=insert [L]
RewriteRule ^Koordynator/delete/(\d+)/?$ index.php?Controller=Koordynator&action=delete&id=$1 [L]
RewriteRule ^Koordynator/edycjaKS/(\d+)/?$ index.php?Controller=Koordynator&action=edycja&id=$1 [L]
RewriteRule ^Koordynator/update/?$ index.php?Controller=Koordynator&action=update [L]


RewriteRule ^Doradca/?$ index.php?Controller=Doradca [L]
RewriteRule ^Doradca/dodajDB/?$ index.php?Controller=Doradca&action=add [L]
RewriteRule ^Doradca/addPred/?$ index.php?Controller=Doradca&action=addPred [L]
RewriteRule ^Doradca/insert/?$ index.php?Controller=Doradca&action=insert [L]
RewriteRule ^Doradca/insertPred/?$ index.php?Controller=Doradca&action=insertPred [L]
RewriteRule ^Doradca/delete/(\d+)/?$ index.php?Controller=Doradca&action=delete&id=$1 [L]
RewriteRule ^Doradca/edycjaDB/(\d+)/?$ index.php?Controller=Doradca&action=edycja&id=$1 [L]
RewriteRule ^Doradca/update/?$ index.php?Controller=Doradca&action=update [L]
RewriteRule ^Doradca/szukaj/?$ index.php?Controller=Doradca&action=szukaj [L]

RewriteRule ^Access/logform/?$ index.php?Controller=Access&action=logform [L]
RewriteRule ^Access/login/?$ index.php?Controller=Access&action=login [L]
RewriteRule ^Access/logout/?$ index.php?Controller=Access&action=logout [L]


RewriteRule ^Raport/?$ index.php?Controller=Raport [L]
